# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Environments
.env
.venv
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Databases
*.sqlite3
*.db
news_database.db
